<%- include("../partials/head") %>
</head>
<body>
   <%- include("../partials/navigation") %>
    <main>
        <form action="/register" method="POST">
            <label>Username:</label>
            <input type="text" placeholder="Username..." name="username" value="<%= oldInput.username %>">
            <br>
            <label>Email:</label>
            <input type="email" placeholder="Email..." name="email" value="<%= oldInput.email %>">
            <br>
            <label>Password:</label>
            <input type="password" placeholder="Password..." name="password" value="<%= oldInput.password %>">
            <br>
            <label>Confirm Password:</label>
            <input type="password" placeholder="Password..." name="confirmPassword" value="<%= oldInput.confirmPassword %>">
            <br>
            <button type="submit">Register</button>
            <%= error %>
        </form>
    </main>
</body>
</html>